<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <title>Конвертер валют</title>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>

    <script src="index.js"></script>
</head>
<body>
<div class="container" ng-controller="indexController">

    <div class="row">
        <h1 class="col-md-6">Конвертер валют</h1>
    </div>

    <div>
        <br/>
        <h3><font color="#3cb371">Конвертировать</font></h3>
        <form novalidate ng-submit="doConvert()">
            <div class="form-group row">
                <div class="form-group col-md-3">
                    <label for="FromSelect">Из какой валюты</label>
                    <select class="form-control" id="FromSelect" ng-model="NewConvert.fromValute">
                        <option ng-repeat="rate in Rates" value="{{rate.name}}">{{rate.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="NewAmount">Количество</label>
                    <input class="form-control" type="number" ng-model="NewConvert.amount" id="NewAmount">
                </div>
                <div class="form-group col-md-3">
                    <label for="ToSelect">В какую валюту</label>
                    <select class="form-control" id="ToSelect" ng-model="NewConvert.toValute">
                        <option ng-repeat="rate in Rates" value="{{rate.name}}">{{rate.name}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="form-group col-md-3">
                    <label for="Res">Результат</label>
                    <output class="form-control" ng-model="Result" id="Res">
                        <b>{{Result.result}}</b>
                    </output>
                </div>
                <div class="form-group col-md-3">
                    <label for="Rate">По курсу</label>
                    <output class="form-control" ng-model="Result" id="Rate">
                        <b>{{Result.rate}}</b>
                    </output>
                </div>
                <div class="form-group col-md-3">
                    <label for="Date">Данные за</label>
                    <output class="form-control" ng-model="Result" id="Date">
                        <b>{{Result.date | date:'d MMM yyyy HH-mm-ss'}}</b>
                    </output>
                </div>
            </div>
            <div>
                <button class="btn btn-success" type="submit">Конвертировать</button>
            </div>
        </form>
    </div>

    <div>
        <br/>
        <h3><font color="#1e90ff">История</font></h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <td>Дата операции</td>
                <td>Из валюты</td>
                <td>Количество</td>
                <td>В валюту</td>
                <td>По курсу</td>
                <td>Результат</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="convert in ConvertPage.content">
                <td>{{convert.date | date:'d MMM yyyy'}}</td>
                <td>{{convert.fromValute}}</td>
                <td>{{convert.amount}}</td>
                <td>{{convert.toValute}}</td>
                <td>{{convert.rate}}</td>
                <td>{{convert.result}}</td>
            </tr>
            </tbody>
        </table>

        <!-- Пагинация -->
        <nav aria-label="Convert history navigation">
            <ul class="pagination">
                <li ng-class="ConvertPage.first ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" ng-click="getConvertPage(ConvertPage.number)">Пред.</a>
                </li>
                <li ng-class="ConvertPage.number == pageIndex - 1 ? 'page-item active' : 'page-item'"
                    ng-repeat="pageIndex in PaginationArray">
                    <a class="page-link" ng-click="getConvertPage(pageIndex)">{{pageIndex}}</a>
                </li>
                <li ng-class="ConvertPage.last ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" ng-click="getConvertPage(ConvertPage.number + 2)">След.</a>
                </li>
            </ul>
        </nav>
    </div>

    <div>
        <br/>
        <h3><font color="#ffa07a">Статистика</font></h3>
        <table class="table table-hover" cellpadding="0" cellspacing="0">
            <thead>
            <tr>
                <td>Из валюты</td>
                <td>В валюту</td>
                <td>Количество конвертаций</td>
                <td>Средний курс конвертаций</td>
                <td>Суммарный объём конвертаций</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="stat in Statistics">
                <td>{{stat.fromValute}}</td>
                <td>{{stat.toValute}}</td>
                <td>{{stat.amountConvert}}</td>
                <td>{{stat.averageRate}}</td>
                <td>{{stat.sumConvert}}</td>
            </tr>
            </tbody>
        </table>
        <hr/>
    </div>

</div>
</body>
</html>
